<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600&display=swap">
<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0843/1642/2421/files/stylesheet.css?v=1713961441">
{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<button class="theme_ai_model" style="background:{{ block.settings.colour}}" current_id="{{product.variants.first.id}}">
  <img src="{{ "wna-brand-icon.png" | asset_img_url: '30px' }}" height="30" width="30" loading="lazy">
  Try On
</button>
<span style="color:{{ block.settings.colour }}">
  {% render 'themeAi', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '14x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %}

<div class="main_model_wna" style="display:none;">
  <div class="wna_close_model_out_side">clsoe model</div>
  <div class="wna_model_step">
    {% render 'custmizetryonmodel1' %}
    {% render 'custmizetryonmodel2' %}
  </div>
 
</div>

{% schema %}
{
  "name": "Theme AI",
  "target": "section",
  "class": "model_ai",
  "stylesheet": "newstyles.css",
  "javascript": "themeai.js",
  "settings": [
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#121212" }
  ]
}
{% endschema %}
